
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}


a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}


nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}


nav a::after {
  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 2px; 
  bottom: 0; 
  left: 0;
  background-color: #0077b6; 
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s; 
}


nav a:hover::after,
nav a.active::after {
  transform: scaleX(1); 
}

nav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo {
  margin-right: 200px;
}

#home-icon {
  text-align: center;
  font-size: 30px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 35px;
  margin: 3% 10% 5% 8%;
}


.item-images {
  width: 220px;
  border-radius: 5%;
  box-shadow: 10px 10px 90px 30px rgba(20, 20, 20,0.8);
}

.item-p {
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid rgba(128, 128, 128, 0.477);
  border-radius: 10px;
  background-color: #FFD700; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  margin: 10px 0px;
}


.custom-heart-class {
  font-size: 20px;
  text-align: center;
  display: block;
  cursor: pointer;
  color: #FF5733;
  user-select: none;
  transition: transform 0.1s;
}

.custom-heart-class:active {
  transform: scale(0.9);
}


.likes-count {
  font-size: 14px;
  color: #01070f;
  font-weight: bold;
  text-align: center;
}


.inline-elements .custom-heart-class,
.inline-elements .likes-count {
  display: inline-block;
  vertical-align: middle;
}

footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.hao {
  background-color: #f39d12d6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  
}

.home-h1 {
  color: rgb(59, 59, 57);
  font-family: 'lato', sans-serif;
 
}